@{
    ViewData["Title"] = "Home Page";
}

<div>

    <ul>
        <li><a href="/Timesheet">Timesheet</a></li>
        <li><a href="/Document">Document</a></li>
        <li><a href="/Blog">Blog</a></li>
    </ul>
</div>