@model BlogModel
@{
    var index = 1;
    var text = "bg-primary";
    Layout = "_HomeLayout";


}
<div>
    <h1>All Posts (130 Total) </h1>
    <div class="row">
        <div class="col-4 h-100">
            <div class="card" style="width: 18rem;">
                <img src="~/me.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col-4 h-100">
            <div class="card" style="width: 18rem;">
                <img src="~/donate.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col-4 h-100">
            <div class="card" style="width: 18rem;">
                <img src="~/donate.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col-4 h-100">
            <div class="card" style="width: 18rem;">
                <img src="~/me.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .h1 {
        font-size: 36px;
    }


    .fixedBox {
        position: sticky;
        top: 80px;
    }
</style>
@section Scripts {

}
