@model BlogModel

<div>
    <button id="edit" class="btn btn-primary" onclick="edit()" type="button">Edit 1</button>
    <button id="save" class="btn btn-primary" onclick="save()" type="button">Save 2</button>
    <div class="click2edit"></div>
    <div id="datagrid" >
        <span>{{message}}- {{title}}</span>
        <sm-datagrid-pager datasource="xinchao" options="phu"></sm-datagrid-pager>
    
        <column></column>
        <column></column>
        <column></column>
        <column></column>
        <column></column>
    </div>
</div>

@section Scripts{
}
