@{
    Layout = "_Layout";
}

<div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/blog">All</a></li>
            <li class="breadcrumb-item"><a href="/series">Series</a></li>
            <li class="breadcrumb-item"><a href="/tags">Tags</a></li>
        </ol>
    </nav>
    <div>
        @RenderBody()
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)